.sorting-options{
    width:100%;
}

.tab-results-info{
    padding: 8px;
    float: left;
}

.page-info{
    padding: 8px;
    float: right;
}

.dh-filter{
    float: right;
    border-radius: .25rem;
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
}

.range-selectors{
    margin: 4px;
    float: left;
}

.page-selectors{
    margin: 4px;
    float:right;
}

.range-selector,.range-selected,.page-selector{
    display: inline-block;
    margin: 4px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
}

.range-selector:active,.page-selector:active{
    background-color: black;
    color: white;
}

.range-selected{
    background-color: black;
    color: white;
}

.dh-filters,.dh-ranges{
    padding-left: 4px;
    padding-right: 4px;
}

.page-number{
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    height: 1.5rem;
    width: 2rem;
}

.tab-list-contents{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 320px;

    width: 95%;
    margin:auto;
    border: 1px solid black;
    border-radius: .25rem;
}