.flex-fill-height{
    flex: 1;
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 4px;
}

.fill-remaining-space{
    border: 4px solid black;
    width:100%;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    /* min-width: 238px; */
}

.day-selected-title{
    text-align: center;
    width:100%
}

.date-handlers{
    display: flex;
    flex-direction: column;
}

.fill-space{
    height: 100%;
}

.additional-col-styling{
    padding: 0px;
    padding-right: 8px;
    padding-bottom: 8px;
    width: 100%;
}