.datehistory-container{
    margin: 4px;
    border: 4px solid black;
    border-radius: .5rem;
    width: 100%;
}

.datehistory-title{
    display: inline-block;
    font-size: 1.5rem;
}

.datehistory-title-date{
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
}

.datehistory-body{
    text-align: left;
    height:400px;
    overflow-y: scroll;
}